<li class="list-group-item">
    <div class="checkbox">
        <input type="checkbox" id="checkbox2" />
        <label for="checkbox2">
            List group item heading 1
        </label>
    </div>
   <div class="pull-right action-buttons">
        <a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="http://www.jquery2dotnet.com" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
        <a href="http://www.jquery2dotnet.com" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
    </div>
</li>
