<li class="list-group-item">
    <div class="checkbox">
        <label for="checkbox2">
            {{ $ctrl.value }} || {{ $ctrl.index }}
        </label>
    </div>
   <div class="pull-right action-buttons">
        <a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-pencil"></span></a>
        <span ng-click="$ctrl.deleteItem()" class="glyphicon glyphicon-trash"></span>
        <a href="http://www.jquery2dotnet.com" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
    </div>
</li>
